body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
background:#020617;
padding:15px;
position:fixed;
width:100%;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

.section{
padding:100px 50px;
text-align:center;
}

.home{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
}

button{
padding:10px 20px;
background:#3b82f6;
border:none;
color:white;
cursor:pointer;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.project{
background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}